body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:970px;
  width:10px;
  height:810px;
  opacity:0.600000023841858;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:810px;
}
#u2 {
  position:absolute;
  left:0px;
  top:396px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:950px;
  top:970px;
  width:10px;
  height:810px;
  opacity:0.600000023841858;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:810px;
}
#u4 {
  position:absolute;
  left:0px;
  top:396px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u6 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:90px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u8 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:170px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u10 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:250px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u12 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:330px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u14 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:410px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u16 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:490px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u18 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:570px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u20 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:650px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u22 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:730px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u24 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:810px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u26 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:890px;
  top:970px;
  width:60px;
  height:810px;
  opacity:0.600000023841858;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:810px;
}
#u28 {
  position:absolute;
  left:0px;
  top:396px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u30 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:150px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u32 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:230px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u34 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:310px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u36 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:390px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u38 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:470px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u40 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:550px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u42 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:630px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u44 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:710px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u46 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:790px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u48 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:870px;
  top:970px;
  width:20px;
  height:810px;
  opacity:0.600000023841858;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:810px;
}
#u50 {
  position:absolute;
  left:0px;
  top:396px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:150px;
  top:1490px;
  width:660px;
  height:200px;
  opacity:0.600000023841858;
  font-family:'HanziPenTC-W5', 'HanziPen TC Bold', 'HanziPen TC';
  font-weight:700;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:200px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:-50px;
  top:0px;
  width:1010px;
  height:60px;
  opacity:0.400000005960464;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:60px;
}
#u54 {
  position:absolute;
  left:0px;
  top:21px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:59px;
  width:960px;
  height:111px;
  opacity:0.400000005960464;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:111px;
}
#u56 {
  position:absolute;
  left:0px;
  top:46px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:210px;
  width:940px;
  height:325px;
  opacity:0.400000005960464;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:325px;
}
#u58 {
  position:absolute;
  left:0px;
  top:154px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:10px;
  top:384px;
  width:540px;
  height:37px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:37px;
}
#u60 {
  position:absolute;
  left:0px;
  top:10px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:327px;
  width:620px;
  height:37px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:37px;
}
#u62 {
  position:absolute;
  left:0px;
  top:10px;
  width:620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:10px;
  top:270px;
  width:700px;
  height:37px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:37px;
}
#u64 {
  position:absolute;
  left:0px;
  top:10px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:10px;
  top:210px;
  width:780px;
  height:37px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:37px;
}
#u66 {
  position:absolute;
  left:0px;
  top:10px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:10px;
  top:441px;
  width:460px;
  height:37px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:37px;
}
#u68 {
  position:absolute;
  left:0px;
  top:10px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:10px;
  top:498px;
  width:380px;
  height:37px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
}
#u70 {
  position:absolute;
  left:0px;
  top:10px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:10px;
  top:575px;
  width:940px;
  height:185px;
  opacity:0.400000005960464;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:185px;
}
#u72 {
  position:absolute;
  left:0px;
  top:84px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:370px;
  top:780px;
  width:580px;
  height:210px;
  opacity:0.400000005960464;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:210px;
}
#u74 {
  position:absolute;
  left:0px;
  top:96px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:10px;
  top:780px;
  width:340px;
  height:210px;
  opacity:0.400000005960464;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:210px;
}
#u76 {
  position:absolute;
  left:0px;
  top:96px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:10px;
  top:1030px;
  width:940px;
  height:148px;
  opacity:0.400000005960464;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:148px;
}
#u78 {
  position:absolute;
  left:0px;
  top:65px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
