body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-26px;
  top:-50px;
  width:800px;
  height:551px;
  color:#1A1A1A;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:551px;
}
#u1 {
  position:absolute;
  left:2px;
  top:268px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-25px;
  top:-48px;
  width:798px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-24px;
  top:-44px;
  width:21px;
  height:28px;
  font-family:'bigdata', 'bigdata Medium', 'bigdata';
  font-weight:500;
  font-style:normal;
  font-size:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:-36px;
  width:23px;
  height:14px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:739px;
  top:-44px;
  width:31px;
  height:28px;
  font-family:'bigdata', 'Bigdata Medium', 'Bigdata';
  font-weight:500;
  font-style:normal;
  font-size:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  white-space:nowrap;
  transform-origin:15.5px 14px;
  -ms-transform-origin:15.5px 14px;
  -moz-transform-origin:15.5px 14px;
  -webkit-transform-origin:15.5px 14px;
}
#u10 {
  position:absolute;
  left:674px;
  top:-36px;
  width:71px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:-16px;
  top:-10px;
  width:780px;
  height:121px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:121px;
}
#u13 {
  position:absolute;
  left:2px;
  top:52px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:-6px;
  top:0px;
  width:73px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:-16px;
  top:120px;
  width:780px;
  height:101px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:101px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:-6px;
  top:130px;
  width:73px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:-16px;
  top:342px;
  width:780px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:-6px;
  top:352px;
  width:113px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:-16px;
  top:230px;
  width:780px;
  height:101px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:101px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:-6px;
  top:240px;
  width:113px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:12px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:-16px;
  top:384px;
  width:780px;
  height:61px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:61px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:-6px;
  top:394px;
  width:49px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:-16px;
  top:454px;
  width:780px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:-6px;
  top:464px;
  width:61px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#1A1A1A;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:12px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:295px;
  top:875px;
  width:694px;
  height:110px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  font-size:12px;
  color:#1A1A1A;
  line-height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:273px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:277px;
  top:0px;
  width:412px;
  height:35px;
  text-align:center;
  line-height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:35px;
  width:277px;
  height:35px;
  font-size:12px;
  color:#1A1A1A;
  line-height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:273px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:277px;
  top:35px;
  width:412px;
  height:35px;
  text-align:center;
  line-height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:70px;
  width:277px;
  height:35px;
  font-size:12px;
  color:#1A1A1A;
  line-height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:273px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:277px;
  top:70px;
  width:412px;
  height:35px;
  text-align:center;
  line-height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
